<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>SHOW</h1>
	<p>Name: <%= mission.name %>  </p>
	<p>Launch Date: <%= mission.launchDate %>  </p>
	<p>Operator: <%= mission.operator %>  </p>
	<p>Mission Type: <%= mission.missionType %>  </p>

</body>
</html>